* {
    font-family: 'Roboto Slab', serif;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #0277bd;
    color: #263238;
}

a {
    color: #40c4ff;
}

.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    background-image: url(../images/logo.png);
    background-size: 20% auto;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    min-width: 25%;
    padding: 45px 45px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(38, 50, 56, 0.33);
    text-align: center;
}

#login-container form div > input {
    padding: 8px 16px;
    margin: 4px 0;
}

button {
    padding: 8px 16px;
    margin: 4px 0;
    color: #ffffff;
    background-color: #01579b;
    border: none;
    border-radius: 4px;
}

button:hover {
    box-shadow: 0 0 5px rgba(38, 50, 56, 0.7);
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header:hover {
    box-shadow: 0 -20px 30px #4d4d4d;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}

nav div {
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img {
    height: 100%;
    width: 30px;
    margin-left: 15px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top center;
}

nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

nav div.avatar-container {
    margin-right: 15px;
    text-align: right;
}

.main-container {
    width: 50%;
    min-height: 100%;
    margin: auto auto;
    padding: 90px 15px 15px 15px;
    background-color: #ffffff;
}

.posts >div {
    width: 90%;
    margin: 15px;
    box-shadow: 0 0 15px rgba(38, 50, 56, 0.33);
    padding: 3%;

}
#postmedia{
    width: 100%;
}
video{
    width: 100%;
}
#postheader{
    display: inline-block;
    

}

#author{
    display: inline-block;
    padding-left: 5%;
}
#time{
    display: inline-block;
    padding-left: 35%;
    text-align: right;
}


.like-button {
    background-image: url(../images/like.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: #01579b;
    width: 60px;
    height: 25px;
    padding-left: 23px;
    line-height: 10px;
    text-align: left;
    border: none;
}


#menu{
    display: none;
    width: 220px;
    height: 140px;
    position: absolute;
    background-color: #ffffff;
    right: 0;
    text-align: left;
    
}
#menu> form{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#menu> form > ul > li {
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 5px;
    border-top: 1px solid grey;
    float: left;

}

.personArea >div{
    margin: 5%;
    padding: 5%;
    text-align: center;
    border-style: solid;
    border-color: #cdcdcd;
    border-width: 2px;
    border-radius: 5%;
}
#postavatar{
    object-fit: cover;
    object-position: center top;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 100 px;
}

#avatar {
    object-fit: cover;
    object-position: center top;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }

 .postmedia{
     width: max-content;
 }

  h1{
      text-align: center;
  }
